#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- \
	        --disable-static \
            --enable-dspep \
            --enable-telephony \
            --enable-libresource \
            --enable-profile \
            --disable-fmradio \
            --disable-libplayback \
            --disable-notification \
            --disable-swap-pressure \
            --disable-oldvideoep \
            --disable-videoep \
            --disable-hal \
            --disable-buttons \
            --disable-apptrack \
            --disable-auth \
            --disable-vibra \
            --disable-facttool \
            --disable-gconf \
            --disable-shave


## Build does not like parallelisation
#override_dh_auto_build:
#	make -j1

%:
	dh $@
